<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adshow.ad.mapper.SubtitleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.adshow.ad.entity.Subtitle">
        <result column="id" property="id" />
        <result column="program_id" property="programId" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="font" property="font" />
        <result column="font_size" property="fontSize" />
        <result column="font_color" property="fontColor" />
        <result column="back_color" property="backColor" />
        <result column="back_transparency" property="backTransparency" />
        <result column="scroll_speed" property="scrollSpeed" />
        <result column="position_x" property="positionX" />
        <result column="position_y" property="positionY" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="material_oder" property="materialOder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    create_user AS createUser,
    create_time AS createTime,
    update_user AS updateUser,
    update_time AS updateTime,
    version,
        program_id AS programId,content AS content, type AS type, font AS font, font_size AS fontSize, font_color AS fontColor, back_color AS backColor, back_transparency AS backTransparency, scroll_speed AS scrollSpeed, position_x AS positionX, position_y AS positionY, width AS width, height AS height, material_oder AS materialOder
    </sql>

</mapper>
